.view-user
  width 100%
  max-width 1000px
  margin 20px auto 50px
  font-family 'sans-serif'
  &_left-side
    display inline-block
    width 60%
    & .student-about
      margin-top 20px
      font-size 16px
    & .student-subtitle
      margin-top 20px
      margin-bottom 5px
      font-size 22px
    & .student-item
      padding 10px
      transition all 0.5s ease-out
      &:hover
        background-color #8BC34A
        color #ffffff
    & .student-dates
      margin-top 5px
      font-style italic
      text-align right
    & .skill-item
      display inline-block
      padding 3px 5px 3px 5px
      margin-top 5px
      margin-right 3px
      border-radius 5px
      background-color #8BC34A
      color #ffffff
  &_right-side
    display inline-block
    vertical-align top
    margin-left 5%
    width 35%