.view-vacancy
  width 100%
  max-width 1000px
  margin 20px auto 50px
  font-family 'sans-serif'
  &_left-side
    display inline-block
    width 49%
    & .vacancy-about
      margin-top 20px
      font-size 16px
    & .skill-item
      display inline-block
      padding 3px 5px 3px 5px
      margin-top 5px
      margin-right 3px
      border-radius 5px
      background-color #8BC34A
      color #ffffff
  &_right-side
    font-family 'sans-serif'
    display inline-block
    vertical-align top
    margin-left 1%
    width 50%
    & .vacancy-item
      font-size 16px
      font-style italic
      padding 10px
      transition all 0.5s ease-out
      cursor pointer
      &:hover
        background-color #8BC34A
        color #ffffff
    & .question-item
      width 100%
    & .question-problem
      font-size 18px
      font-style italic
      margin-top 10px