.vacancy-create
  width 100%
  max-width 1000px
  margin 20px auto 50px
  &_left-side
    display inline-block
    width 60%
    & .skill-item
      display inline-block
      padding 3px 2px 3px 5px
      margin-right 3px
      border-radius 5px
      background-color #8BC34A
      color #ffffff
    & .add-skill
      display inline-block
      white-space nowrap
      margin-left 5px
    & .preview-block
      position relative
      box-sizing border-box
      width 100%
      min-height 30px
      margin-top 20px
      font-size 16px
      font-family sans-serif
      line-height 24px
      &:before
        content 'preview'
        position absolute
        color #00bcd4
        width 100%
        font-size 14px
        height 16px
        line-height 16px
        left 0
        top -20px
  &_right-side
    display inline-block
    vertical-align top
    margin-left 5%
    width 35%