.edit-user
  width 100%
  max-width 1000px
  margin 20px auto 50px
  &_left-side
    display inline-block
    width 60%
    & .skill-item
      display inline-block
      padding 3px 2px 3px 5px
      margin-top 5px
      margin-right 3px
      border-radius 5px
      background-color #8BC34A
      color #ffffff
    & .add-skill
      display inline-block
      white-space nowrap
      margin-left 5px
  &_right-side
    display inline-block
    vertical-align top
    margin-left 5%
    width 35%