.edit-user
  width 85%
  max-width 1200px
  padding 40px
  margin 50px auto
  & .user-edit-title
    display block
    font-weight 300
    font-size 21px
    margin-top 20px
    margin-bottom 20px
  &_left-side
    display inline-block
    width 53%
    & .skill-item
      display inline-block
      padding 5px 8px 5px 8px
      margin-top 8px
      margin-right 8px
      border-radius 5px
      background-color #00bcd4
      color #ffffff
      font-weight 300
    & .add-skill-btn
      margin-left 20px
      position relative
    & .add-skill
      display inline-block
      white-space nowrap
      margin-left 5px
    & .skill-wrapper
      margin-top 10px
      margin-bottom 10px
  &_right-side
    display inline-block
    vertical-align top
    margin-left 12%
    width 33%