.oops
  margin 0 auto
  padding-top 180px
  width 700px
  &-title
    font-size 100px
    margin-bottom 20px
    font-weight 600
    display block
  &-sub
    font-size 24px
    line-height 30px
    margin-bottom 30px
    display block
    font-weight 300
    color #7B7B7B
  &-link
    text-decoration none
  &-error
    float right